<% require 'rubygems' %>
<% require 'dbi' %>

<% dbh = DBI.connect( 'DBI:SQLite3:book_event_sqlite.db' ) %>

<% rows = dbh.select_one("select * from book_events where id=¥'#{target_id}¥'") %>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <link rel="stylesheet" type="text/css" href="default.css">
      <title>イベント管理</title>
  </head>
  <body>
    <h1>イベント管理</h1>
    <h2>イベントデータの削除</h2>
    <p>このデータを削除します|
      <a href="list.erb">イベントデータの表示</a>|
      <a href="index.html">メニュー画面に戻る</a>
    </p>
    <hr>

    <form method="post" action="delete">
      <input type="hidden" name="id" value="<%= target_id %>" />
      <table border>
        <tr>
          <th>項目名</th><th>削除データ</th>
          <% row.each_with_name do |val, name| %>
            <tr>
              <td><%= name %></td><td><%= val.to_s %></td>
              <input type="hidden" name="<%= name %>" value="<%= val.to_s %>" />
            </tr>
          <% end %>
      </table>
      <input type="submit" value="削除を実行" />
    </form>
    <hr>
  </body>
</html>